# System files
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/

# Python
venv/
__pycache__/
*.py[cod]
*.so

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.firebase/
firebase-debug.log
